html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background-color: #ffffff;
  display: grid;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 100vh;
  place-items: left;
}

h1 {
  color: #000000;
  font-size: 80px;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  padding: 10px;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'M PLUS 1p', sans-serif;
}
  
nav {
  background-color: #ff8686dd;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}
  
nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  list-style: none;
}
  
nav li {
  display: inline-block;
  margin-right: 25px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
  
nav a:hover {
  color: #ffffff;
}

header {
  padding: 50px;
  background-image: url(img/class.jpg);
  height: 369.333px;
  background-size: cover;
}

.date {
  margin: 50px;
  display: flex;
}

.left {
  background-color: #ffd8d8;
  border: 2px solid #ff8686;
  color: #000000;
  font-size: 20px;
  width: 140px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right {
  background-color: #ffffff;
  border-top: 2px solid #ff8686;
  border-right: 2px solid #ff8686;
  border-bottom: 2px solid #ff8686;
  color: #000000;
  font-size: 20px;
  width: calc(100% - 218.5px);
  text-align: left;
  padding: 0px 20px;
}

.underline {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  border-bottom: solid 3px #ff5555;
}

.info table {
  border-collapse: collapse;
  border: 2px;
  border-color: #ff8686;
  margin: 50px;
  width: calc(100% - 103.334px);
}

.info table th{
  color: #ff0000;
  text-align: center;
  font-size: 25px;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
}

.info table td{
  font-size: 17px;
  color: #000000;
  text-align: left;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

.info a {
  color: #ff0000;
}

.blank-icon {
  box-sizing: border-box;
  position: relative;
  width: 20px;
  height: 16px;
  transform: scale(3);
  padding: 0px 15px;
  margin: 0px;
}

.blank-icon:before,
.blank-icon:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 70%;
  border-style: solid;
  border-color: #ff0000;
}

.blank-icon:before {
  top: 0;
  left: 0;
  border-width: 2px;
}

.blank-icon:after {
  top: 4px;
  left: 4px;
  border-width: 0 2px 2px 0;
}

.classes {
  margin: 50px;
}

.classes p {
  font-size: 17px;
  padding: 10px;
  height: auto;
}

.classes table {
  border-collapse: collapse;
  border: 2px;
  border-color: #cccccc;
  margin: 0px;
  width: calc(100% - 4px);
}

.classes table th{
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
}

.classes table td{
  padding: 10px;
  font-size: 14px;
  color: #000000;
  text-align: left;
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

footer {
  margin-top: 50px;
  font-size: 15px;
  text-align: center;
  color: #000000;
  background-color: #FFDFDC;
  font-family: "BIZ UDPMincho", serif;
  font-weight: 400;
  padding: 10px;
  height: 25px;
}
